*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.nav{
    position: absolute;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    color: white;
    z-index: 10;
}

.nav nav a{
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 14px;
}

.main {
    height: 100vh;
    background: url("./drive-download-20251209T173451Z-3-001/bg-1.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    padding-left: 80px;
    color: white;
}

.main-content {
    max-width: 500px;
}

.main h1{
    font-size: 64px;
    margin-bottom: 20px;
}

.main p{
    font-size: 16px;
    margin-bottom: 25px;
}

.main button{
    padding: 12px 25px;
    border: none;
    background: rgb(161, 161, 236);
    color: white;
    /* cursor: pointer; */
}